<div [formGroup]="homeForm">


  <div id="messageRow" class="row">
    <div>
      <span class="emphasis text-danger">{{this.errorMessage}}</span>



    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label class="control-label internalTitle col-sm-2" for="status">Collection</label>
      </div>
      <div class="col-sm-8">
        <app-imposter-selector (change)="changeCollection($event)" formControlName="collectionSelectorIdx" [collectionItems]="this.collectionItems"
          [parentForm]="this.homeForm"></app-imposter-selector>
      </div>

    </div>

  </div>
</div>
<!-- end homeForm -->
<hr/>

<h3>Imposters</h3>


<div class="row">
  <div id="itemSelectorColumn" class="col-sm-2">
    <div class="limitY">
      <div *ngFor="let imposter of this.currentCollection.imposters; let index = index; trackBy: trackByFn">
        <button (click)="this.selectImposter(index)" tooltip={{imposter.documentation}} tooltip-placement="auto top" class="btn btn-sm  btn-primary pull-right"
          style="margin: 5px">{{this.composeImposterAlias(index)}}</button>
      </div>

    </div>
    <br>
    <div class="row pull-left">

      <button (click)="this.addImposter()" class="btn btn-med btn-primary">Add New</button>

      <button [disabled]="this.currentCollection.imposters.length === 1" (click)="this.deleteImposter()" class="btn btn-med btn-danger">Delete</button>

      <button style="margin-top:5px" [disabled]="this.currentCollection.imposters.length === 1" (click)="this.sortImposters()"
        class="btn btn-med btn-primary">Sort Imposters</button>
    </div>

  </div>

  <div id="formColumn" class="col-sm-10">
    <div class="row">

      <div class="form-group clearfix">
        <label class="control-label col-sm-2" for="status">Documentation</label>
        <div class="col-sm-9">
          <input type="text" (input)="this.inputChange(this, $event)" class="form-control" id="documentation" name="documentation"
            [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].documentation">
        </div>
      </div>

    </div>
    <tabset justified="true">
      <tab heading="Response" (select)="this.tabSelect('Response')">

        <br>
        <div class="row">

          <div class="form-group paginatorBox">
            <table id="responsePaginatorTable">
              <tr>
                <td>
                  <em>Selected Response</em>
                </td>
                <td>
                  <button (click)="this.addResponse()" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add Response</button>
                </td>
                <td>
                  <button [disabled]="this.currentCollection.imposters[this.currentImposterIdx].responses.length == 1" (click)="this.deleteResponse()"
                    class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-minus-sign"></i> Delete Current Response</button>
                </td>
              </tr>  
              <tr>
                <td colspan="3">
                  <span *ngFor="let item of this.currentCollection.imposters[this.currentImposterIdx].responses; let _index = index;trackBy: trackByFn">
                    <span *ngIf="_index === this.currentResponseIdx" class="responseSelection selectedResponse">
                      {{(_index + 1)}}

                    </span>
                    <span *ngIf="_index !== this.currentResponseIdx" class="responseSelection notSelectedResponse">
                      <a (click)="$event.preventDefault(); this.moveResponseTo(_index)" href="">{{_index + 1}}</a>

                    </span>
                  </span>
                </td>
              </tr>
            </table>

          </div>

        </div>
        <div class="row">                                                                                                                             
          <input id="injectionUseForResponse" name="injectionUseForResponse" type="checkbox"  (click)="this.swapInjectionForResponse()"  [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use">  

          <label  *ngIf="!this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use" for="injectionUseForResponse"><em style="padding:5px">Click To Use Injection <span class="label label-danger"> All other criteria will be lost</span></em></label> 

          <label  *ngIf="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use"  for="injectionUseForResponse"><em style="padding:5px">Click To Use Standard <span class="label label-danger"> Injection criteria will be lost</span></em></label> 

      </div>

      <div *ngIf="!this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use">
          <div class="row">
              <div class="form-group">
                  <label class="control-label col-sm-1" for="status">Status</label> 
                  <div class="col-sm-2">
                      <input (input)="this.inputChange(this, $event)" type="text" class="form-control"   id="response_status" name="status" [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].status" required>
                  </div>
              </div>
          </div>




          <i *ngIf="!this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use" >(Click on the section below)</i> 
          <accordion close-others="false">
              <accordion-group heading="Headers">
                  <app-headers array="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].headers"></app-headers>
              </accordion-group>
              <accordion-group heading="Body">
                  <div class="form-group grouping-box">
                      <div class="internalHeaderRow">

                          <span 
                              *ngIf="this.isJsonString(this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].body)">
                              <button (click)="this.formatJson('responseBody', true)" class="btn btn-primary btn-xs">Pretty Print JSON</button>
                              <button (click)="this.formatJson('responseBody', false)" class="btn btn-primary btn-xs">Unformat JSON</button>
                          </span>
                      </div>
                      <textarea (input)="this.inputChange(this, $event)" class="form-control" [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].body" style="width:98%;height:150px"></textarea>
                  </div>
              </accordion-group>
              <accordion-group heading="Decorate">
                  <div class="injectionContainer">
                      <div>
                          <button class="btn btn-small" (click)="this.formatDecorate(this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx])"   href="">Format</button>
                          <a  (click)="$event.preventDefault(); this.doHelpDisplay('decorate')" class="pull-right" href="">Decoration Help</a>
                      </div>
                      <br>
                      <div>
                          <textarea  (input)="this.inputChange(this, $event)" class="form-control" [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].decorate" style="width:100%;height:350px"></textarea>
                      </div>
                  </div>
              </accordion-group>



          </accordion>
      </div> <!-- end *ngIf not using inject response -->
      <div *ngIf="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.use">
        <div class="injectionContainer">
            <div>
                <button class="btn btn-small" (click)="this.formatInjection(this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection)"   href="">Format</button>
                <a  (click)="$event.preventDefault(); this.doHelpDisplay('response')" class="pull-right" href="">Response Injection Help</a>
            </div>
            <br>
            <div>
                <textarea  (input)="this.inputChange(this, $event)" class="form-control" [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].responses[this.currentResponseIdx].injection.body" style="width:100%;height:350px"></textarea>
            </div>
        </div>
    </div> 
      </tab>
      <tab heading="Match Criteria" (select)="this.tabSelect('Criteria')">


      </tab>

    </tabset>
  </div>
  <!-- end right formColum -->

</div>