<div [formGroup]="homeForm">


  <div id="messageRow" class="row">
    <div>
      <span class="emphasis text-danger">{{this.errorMessage}}</span>



    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <label class="control-label internalTitle col-sm-2" for="status">Collection</label>
      </div>
      <div class="col-sm-8">
        <app-imposter-selector (change)="changeCollection($event)" formControlName="collectionSelectorIdx" [collectionItems]="this.collectionItems"
          [parentForm]="this.homeForm"></app-imposter-selector>
      </div>

    </div>

  </div>
</div>
<!-- end homeForm -->
<hr/>

<h3>Imposters</h3>


<div class="row">
  <div id="itemSelectorColumn" class="col-sm-2">
    <div class="limitY">
      <div *ngFor="let imposter of this.currentCollection.imposters; let index = index; trackBy: trackByFn">
        <button (click)="this.selectImposter(index)" tooltip={{imposter.documentation}} tooltip-placement="auto top" class="btn btn-sm  btn-primary pull-right"
          style="margin: 5px">{{this.composeImposterAlias(index)}}</button>
      </div>

    </div>
    <br>
    <div class="row pull-left">

      <button (click)="this.addImposter()" class="btn btn-med btn-primary">Add New</button>

      <button [disabled]="this.currentCollection.imposters.length === 1" (click)="this.deleteImposter()" class="btn btn-med btn-danger">Delete</button>

      <button style="margin-top:5px" [disabled]="this.currentCollection.imposters.length === 1" (click)="this.sortImposters()"
        class="btn btn-med btn-primary">Sort Imposters</button>
    </div>

  </div>

  <div id="formColumn" class="col-sm-10">
    <div class="row">

      <div class="form-group clearfix">
        <label class="control-label col-sm-2" for="status">Documentation</label>
        <div class="col-sm-9">
          <input type="text" (input)="this.inputChange(this, $event)" class="form-control" id="documentation" name="documentation"
            [(ngModel)]="this.currentCollection.imposters[this.currentImposterIdx].documentation">
        </div>
      </div>

    </div>
    <tabset justified="true">
      <tab heading="Response" (select)="this.tabSelect('Response')">

        <br>
        <div class="row">

          <div class="form-group paginatorBox">
            <table id="responsePaginatorTable">
              <tr>
                <td>
                  <em>Selected Response</em>
                </td>
                <td>
                  <button ng-click="this.addResponse()" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add Response</button>
                </td>
                <td>
                  <button ng-disabled="this.currentCollection.imposters[this.currentImposterIdx].responses.length == 1" ng-click="this.deleteResponse()"
                    class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-minus-sign"></i> Delete Current Response</button>
                </td>
              </tr>  
              <tr>
                <td colspan="3">
                  <span *ngFor="let item of this.currentCollection.imposters[this.currentImposterIdx].responses; let _index = index;trackBy: trackByFn">
                    <span *ngIf="_index === this.currentResponseIdx" class="responseSelection selectedResponse">
                      {{(_index + 1)}}

                    </span>
                    <span *ngIf="_index !== this.currentResponseIdx" class="responseSelection notSelectedResponse">
                      <a ng-click="$event.preventDefault(); this.moveResponseTo($index)" href="">{{_index + 1}}</a>

                    </span>
                  </span>
                </td>
              </tr>
            </table>

          </div>

        </div>


      </tab>
      <tab heading="Match Criteria" (select)="this.tabSelect('Criteria')">


      </tab>

    </tabset>
  </div>
  <!-- end right formColum -->

</div>