<header class="app-header">

    <nav class="navbar-wrapper navbar navbar-static-top">
        <ul class="nav nav-tabs">
            <li class="navbar-brand">Mountebank Imposter UI</li>
            <li class="nav">
                <a href="/home">
                    <i class="glyphicon glyphicon-home"></i> Home</a>
            </li>

            <li class="nav">

                <a routerLink="/settings">Collection Maintenance</a>

            </li>
            <li class="nav">

                <a routerLink="/json">Mountebank JSON</a>

            </li>
            <li class="nav">

                <a routerLink="/import">Import/Export</a>

            </li>
            <li class="nav pull-right">
                <a routerLink="/help">
                    <i class="glyphicon glyphicon-question-sign"></i> Help</a>
            </li>

        </ul>
    </nav>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>